 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 html,body{
    height:100%;
    width:100%;
 }
 main{
    height:100%;
    width:100%;
    background-color: black;
    color:white;
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:70px 150px 1fr;
    grid-template-areas:"header header"
                        "aside section"
                        "figure figure";
    gap:10px;
    padding:10px;                  
                    
 }
 header{
    background-color:crimson;
    grid-area:header;
 }
 aside{
    background-color:dodgerblue ;
    grid-area: aside;
 }
 section{
    background-color: lightseagreen;
    grid-area: section;
 }
 figure{
    background-color: darksalmon;
    grid-area: figure;
 }