 @mixin button-style($bg-color:blue,$text-color:white,$text-size:18px ){
    padding:15px;
    background-color: $bg-color;
    color:$text-color;
    border:none;
    border-radius:7px;
    cursor:pointer;
    font-size: $text-size;
    outline:none;
 }