 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 html,body{
    height:100%;
    width:100%;
 }
 main{
   height:100%;
   width:100% ;
   display:flex;
   gap:20px;
   section{
     height:100%;
     flex-grow: 1;
     background-size: cover;
     background-position: center;
     transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
     cursor:pointer;
   } 
   section:hover{
      flex-grow: 2;
   }
   section:nth-child(1){
      background-image: url(./fight\ club.jpg);
      background-size: cover;
   } 
   section:nth-child(2){
      background-image: url(./tylerdurden.jpg);
       
   }
   section:nth-child(3){
      background-image: url(./drive.jpg);
     
   }
   section:nth-child(4){
      background-image: url(./pinkman.jpg);
      
       
   }
   section:nth-child(5){
      background-image: url(./brucewayne.jpg);
     
       
   }
   


 }